/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page-bg-image: url('../images/cover-image-dark.png');
  --page-bg-color: #000028;
  --cover-title-color: #DB00FF;
  --main-text-color: #F1B2CE;
  --accent-color: #FF0070;
  --highlited-text-color: #000028;
}

.theme-dark .decor-element {
  display: flex;
}

.theme-dark .decorated-zone::before {
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.theme-dark .decorated-zone::after {
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.theme-dark .header__theme-menu-button {
  color: var(--accent-color);
}

.theme-dark .header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
}

.theme-dark .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.theme-dark .header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
}

.theme-dark .section-heading {
  color: var(--accent-color);
}