/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page-bg-image: url('../images/cover-image-light.png');
  --page-bg-color: #FFF1F7;
  --cover-title-color: #FFC2E6;
  --main-text-color: #353430;
  --accent-color: #FF8DCB;
  --highlited-text-color: #353430;
}

.theme-light .decor-element {
  display: none;
}

.theme-light .decorated-zone::before {
  border-top: 1px solid #353430;
  border-right: 1px solid #353430;
}

.theme-light .decorated-zone::after {
  border-left: 1px solid #353430;
  border-bottom: 1px solid #353430;
}

.theme-light .header__theme-menu-button {
  color: var(--main-text-color);
}

.theme-light .header__theme-menu-button:hover {
  outline: 1px solid rgba(50, 49, 45, 0.4);
}

.theme-light .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid #353430;
}

.theme-light .header__theme-menu-button_active {
  outline: 1px solid #353430;
}

.theme-light .section-heading {
  color: var(--main-text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */    
    --page-bg-image: url('../images/cover-image-light.png');
    --page-bg-color: #FFF1F7;
    --cover-title-color: #FFC2E6;
    --main-text-color: #353430;
    --accent-color: #FF8DCB;
    --highlited-text-color: #353430;
  }

  .decor-element {
    display: none;
  }

  .decorated-zone::before {
    border-top: 1px solid #353430;
    border-right: 1px solid #353430;
  }

  .decorated-zone::after {
    border-left: 1px solid #353430;
    border-bottom: 1px solid #353430;
  }

  .header__theme-menu-button {
    color: var(--main-text-color);
  }

  .header__theme-menu-button:hover {
    outline: 1px solid rgba(50, 49, 45, 0.4);
  }

  .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid #353430;
  }

  .header__theme-menu-button_active {
    outline: 1px solid #353430;
  }

  .section-heading {
    color: var(--main-text-color);
  }
}