/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page-bg-image: url("../images/cover-image-light.png");
  --page-bg-color: #fff1f7;
  --cover-title-color: #ffc2e6;
  --main-text-color: #353430;
  --accent-color: #ff8dcb;
  --highlited-text-color: #353430;
  --border: 1px solid #353430;
}

.theme-light .decor-element {
  display: none;
}

.theme-light .decorated-zone::before {
  border-top: var(--border);
  border-right: var(--border);
}

.theme-light .decorated-zone::after {
  border-bottom: var(--border);
  border-left: var(--border);
}

.theme-light .header__theme-menu-button {
  color: var(--main-text-color);
}

.theme-light .header__theme-menu-button:hover {
  outline: 1px solid rgba(50, 49, 45, 0.4);
}

.theme-light .header__theme-menu-button:focus-visible {
  border-bottom: var(--border);
}

.theme-light .header__theme-menu-button_active {
  outline: var(--border);
}

.theme-light .section-heading {
  color: var(--main-text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --page-bg-image: url("../images/cover-image-light.png");
    --page-bg-color: #fff1f7;
    --cover-title-color: #ffc2e6;
    --main-text-color: #353430;
    --accent-color: #ff8dcb;
    --highlited-text-color: #353430;
    --border: 1px solid #353430;
  }

  .decor-element {
    display: none;
  }

  .decorated-zone::before {
    border-top: var(--border);
    border-right: var(--border);
  }

  .decorated-zone::after {
    border-bottom: var(--border);
    border-left: var(--border);
  }

  .header__theme-menu-button {
    color: var(--main-text-color);
  }

  .header__theme-menu-button:hover {
    outline: 1px solid rgba(50, 49, 45, 0.4);
  }

  .header__theme-menu-button:focus-visible {
    border-bottom: var(--border);
  }

  .header__theme-menu-button_active {
    outline: var(--border);
  }

  .section-heading {
    color: var(--main-text-color);
  }
}