/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--font-family, monospace);
  background-color: var(--page-bg-color, #000028);
  background-image: var(--page-bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.content-zone {
  padding: 0 10px;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
  height: 100vh;
  min-height: 668px;
  margin-bottom: var(--margin-cover, 40px);
  padding-top: 10px;
  padding-bottom: 10px;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--accent-color, #ff0070);
  border-right: 1px solid var(--accent-color, #ff0070);
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--accent-color, #ff0070);
  border-left: 1px solid var(--accent-color, #ff0070);
}

.decor-element {
  position: absolute;
  top: 11px;
  right: 19px;
  display: flex;
  align-items: center;
  color: var(--accent-color, #ff0070);
  font-weight: normal;
  font-size: var(--main-text-size, 18px);
}

.decor-element::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  background-color: var(--accent-color, #ff0070);
}

.header__theme-menu {
  grid-row: 1;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  min-width: 70px;
  min-height: 26px;
  border: none;
  padding: 1px 13px;
  color: var(--accent-color, #ff0070);
  font-size: var(--main-text-size, 18px);
  line-height: 1;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color, #ff0070);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color, #ff0070);
  pointer-events: none;
}

.cover-title {
  grid-row: 2;
  color: var(--cover-title-color, #db00ff);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.cover-description {
  grid-row: 3;
  align-self: center;
}

.title-decor {
  color: var(--highlited-text-color, #000028);
  font-weight: bold;
  font-size: var(--main-text-size, 18px);
  line-height: var(--text-line-height, 1.3);
  background-color: var(--accent-color, #ff0070);
}

.content-section {
  display: grid;
  gap: 20px;
  margin-bottom: var(--margin-section, 50px);
}

.section-things-cards {
  display: grid;
  gap: 20px;
}

.section-heading {
  color: var(--accent-color, #ff0070);
  font-weight: bold;
  font-size: var(--main-text-size, 18px);
  line-height: var(--text-line-height, 1.3);
}

.card-title {
  margin-bottom: 10px;
}

.card-title-regular {
  font-weight: normal;
}

.text-card p:not(:last-of-type) {
  margin-bottom: 10px;
}

.card-text {
  color: var(--main-text-color, #f1b2ce);
  font-size: var(--main-text-size, 18px);
  line-height: var(--text-line-height, 1.3);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

.link:hover {
  border-bottom: 1px solid var(--main-text-color, #f1b2ce);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--main-text-color, #f1b2ce);
}

.gallery-heading {
  margin-bottom: 10px;
}

.gallery {
  margin-bottom: var(--margin-cover, 40px);
}

.gallery-pictures {
  display: grid;
  grid-template-rows: auto;
  gap: 10px;
}

.gallery-item {
  box-sizing: border-box;
  margin: 0;
  block-size: 100%;
}

.gallery-image {
  display: block;
  object-fit: cover;
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 667px;
}

.footer .cover-title {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

@media (min-width: 768px) {
  .content-zone {
    padding: 0 20px;
  }

  .header {
    grid-template-columns: repeat(2, 1fr);
    min-height: 1024px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .decor-element {
    top: 21px;
    right: 29px;
  }

  .header__theme-menu {
    grid-column: 2;
  }

  .cover-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .cover-title-header {
    position: relative;
    left: -20px;
    grid-column: 1/3;
  }

  .cover-description {
    grid-column: 2;
  }

  .content-section {
    grid-template-columns: 1fr 2fr;
  }

  .section-heading {
    grid-column: 1/2;
  }

  .section-methods .section-heading {
    grid-row: 1/7;
  }

  .section-causes .text-card,
  .section-methods .text-card {
    grid-column: 2/3;
  }

  .section-things-cards {
    grid-column: 1/3;
    grid-row: 2;
  }

  .gallery-heading {
    margin-bottom: 20px;
  }

  .gallery-pictures {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery-item:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1;
  }

  .gallery-item:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .gallery-item:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .gallery-item:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .gallery-item:nth-child(5) {
    grid-column: 2/4;
    grid-row: 3/4;
  }

  .footer {
    min-height: 1024px;
  }
}

@media (min-width: 1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    grid-column: 1/3;
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .content-section {
    grid-template-columns: repeat(3, 1fr);
  }

  .section-causes .text-card,
  .section-methods .text-card {
    grid-column: 2/4;
  }

  .section-methods .section-subheading {
    grid-column: 2/4;
  }

  .section-things-cards {
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1/4;
  }

  .footer {
    min-height: 768px;
  }
}