/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --page-bg-image: url('../images/cover-image-dark.png');
  --page-bg-color: #000028;
  --cover-title-color: #DB00FF;
  --main-text-color: #F1B2CE;
  --accent-color: #FF0070;
  --highlited-text-color: #000028;
  --border-hover: 1px solid rgba(255, 0, 112, 0.4);
  --main-text-size: 18px;
  --font-family: 'IBM Plex mono';
  --text-line-height: 1.3;
  --margin-cover: 40px;
  --margin-section: 50px;
}

@media (min-width: 768px) {
  :root {
    --margin-cover: 60px;
    --margin-section: 80px;
  }
}